{:paths ["src"]
 :deps {io.github.kotoba-lang/quad-store {:git/sha "094e8da8127db50db76d2867209c5122bcecff27"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}
