{:paths ["src"]
 :deps {io.github.kotoba-lang/quad-store {:git/sha "88eb1de508d806c76dc612ad6ee5aba28b3a04f6"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}
