{:paths ["src"]
 :deps {io.github.kotoba-lang/quad-store {:git/sha "ecb99b8f9c18bb84152a0ebaa35d3a89e795dbd3"}}
 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]
         :exec-fn cognitect.test-runner.api/test}}}
